.selectTool {
    width: 200px;
    height: 55px;
    text-align: center;
    padding-top: 13px;
}

.selectInput {
    width: 200px;
    height: 36px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #637e39;
    padding-left: 15px;
    position: relative;
    font-size: medium;
}

.selectInput> option {
    color: #637e39;
}

#MemberList {
    background: #fffffa;
}

.group-title {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #637e39;
}

.AMember{
    text-align: center;
}

.AMember> p {
    color: #637e39;
}

.MemberPhoto{
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
    padding-bottom: 0.5vw;
    margin-top: 1vw;
}