.selectTool {
    width: 200px;
    height: 55px;
    text-align: center;
    padding-top: 13px;
}

.selectInput {
    width: 200px;
    height: 36px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #637e39;
    padding-left: 15px;
    position: relative;
    font-size: medium;
    color: #637e39;
    background: #fffffa;
}

#memberList {
    background: #fffffa;
    margin-top: 30px;
}

.group-title {
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #637e39;
}

.aMember{
    text-align: center;
}

.memberName> p {
    color: #637e39;
}

.memberPhoto {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 3px solid #637e39;
    overflow: hidden;
}
.memberName {
    margin-top: 10px;
    margin-bottom: 30px;
}