.searchTool {
    width: 200px;
    height: 55px;
    text-align: center;
    padding-top: 13px;
}

.searchInput {
    width: 200px;
    height: 36px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #637e39;
    padding-left: 15px;
    position: relative;
    font-size: medium;
    color: #637e39;
}

.searchButton {
    height: 32px;
    width: 32px;
    position: absolute;
    background: transparent;
    top: 14px;
    left: 245px;
    border: none;
    outline: none;
    cursor: pointer;
}

.searchButton> img {
    width: 32px;
}

#newsList {
    background: #fffffa;
}

.news-list {
    margin-top: 80px;
}