.searchTool {
    width: 200px;
    height: 55px;
    text-align: center;
    padding-top: 12px;
    padding-right: 280px;
}

.searchInput {
    width: 200px;
    height: 36px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 15px;
    position: relative;
    font-size: medium;
}

.searchButton {
    height: 32px;
    width: 32px;
    position: absolute;
    background: transparent;
    top: 13px;
    left: 155px;
    border: none;
    outline: none;
    cursor: pointer;
}

.searchButton>.img {
    width: 32px;
}