/***********************************
Body
************************************/
body {
	font-size: 15px;
    line-height: 1.5;
    color: #717f86;
	font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

ol, ul {
	list-style: none;
}

/***********************************
Navigation Bar
************************************/
.myNavbar {
    height: 60px;
    background-color: #ffffde;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbarContainer{
    margin-left: 7%;
    margin-right: 7%;
}

.navbarLeft {
    float: left;
}

.navbarRight {
    float: right;
}

.navbarRight> ul> li {
    float: right;
    margin-left: 50px;
}

.navbarLeft> a {
    font-family: 'Dosis', sans-serif !important;
    font-weight: bold;
    font-size: 25px;
    color: #637e39;
    padding: 0;
    height: inherit;
    margin-top: 17px;
    float: left;
    line-height: 20px;
    text-decoration: none;
}

.navbarLeft> a:focus, .navbarLeft> a:hover {
    color: #313d29;
    text-decoration: none;
}

.navbarRight> ul> li> a {
    font-family: 'Dosis', sans-serif !important;
    font-weight: bold;
    font-size: medium;
    color: #637e39;
    text-decoration: none;
}

.navbarRight> ul> li> a:focus, .navbarRight> ul> li> a:hover {
    color: #313d29;
    text-decoration: none;
}

/***********************************
Banner
************************************/
#courses{
    background: #eaecdb;
}

.quote{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    color: #eaecdb;
    text-align: left;
    margin-top: 110px;
    margin-bottom: 50px;
}

.banner{
    background: #8d925a;
    /*background: url('../img/banner2.jpg') no-repeat center center;*/
    background-size: cover;
    opacity:1;
    position: relative;
}

.wayroom{
    position: absolute;
    top: 0;
    padding-top: 35%;
    width: 72%;
    left: 2%;
    height: inherit;
    overflow: hidden;
}

.wayroom> h3{
    font-size: 25px;
    color: #eaecdb;
}

.wayroom> p {
    margin-top: 10px;
    font-size: 20px;
    color: #eaecdb;
    position: relative;
    opacity: 0;
}

/***********************************
Features
************************************/
.fea{
    margin-top: 25px;
}

.fea-img {
    margin-left: 8%;
    width: 10%;
}

.heading {
    width: 80%;
}

.fea-img> i {
    font-size: 39px;
    color: #313d29;
    margin-top: 7px;
}

.heading> h4 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    color: #313d29;
    margin: 5px 0;
    text-align: left;
}

.heading> p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: #637e39;
}

#feature{
    padding-top: 60px;
    padding-bottom: 30px;
    background: #fffffa;
}

.characterTitle> h2 {
    text-align: center;
    color: #637e39;
    font-size: 24px;
    padding-bottom: 10px;
}

.bottom-line {
    width: 25px;
    height: 3px;
    background-color: #637e39;
}

.seeMore {
    clear: both;
    text-align: center;
}

.seeMore> a {
    text-align: center;
    color: #637e39;
    font-size: 18px;
}

.seeMore> a:hover, .seeMore> a:focus {
    color: #313d29;
    text-decoration: none;
}

/***********************************
Faculty Member
************************************/
#faculty-member{
    padding-top: 60px;
    padding-bottom: 30px;
    background: #eaecdb;
}

.pm-staff-profile-image{
    width: 150px;
    height: 150px;
    background-color: #C6C6C6;
    border-radius: 50%;
    display: inline-block;
}

.pm-staff-profile-details {
    padding: 20px 20px;
}

.pm-staff-profile-name {
    font-size: 24px;
    text-transform: capitalize;
    color: #637e39;
}

.pm-staff-profile-name:hover, .pm-staff-profile-name:focus {
    color: #313d29;
    text-decoration: none;
}

.pm-staff-profile-email {
    font-size: 12px;
    text-transform: capitalize;
    color: #637e39;
}

.pm-staff-profile-email:hover, .pm-staff-profile-email:focus {
    color: #313d29;
}

.pm-staff-profile-title {
    text-transform: capitalize;
    color: #313d29;
    padding-top: 12px;
    padding-bottom: 0;
    margin-bottom: 2px;
}

.pm-staff-profile-bio {
    text-transform: capitalize;
    color: #4b4b4b;
    font-weight: 100;
}

.staffImg{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 100%;
    border-image-width: 5px;
    border-color: #637e39;
    border-style: solid;
}

.modal-dialog {
    width: 600px;
    margin: 150px auto;
}

.description-title {
    margin: 0;
    line-height: 1.5;
    text-align: center;
    color: #313d29;
}
.description-body {
    color: #637e39;
    position: relative;
    padding: 15px
}

.tip{
    width:500px !important;
    display:none;
    background-color:white;
    color:black;
    line-height:18px;
    border:2px groove #0e90d2;
    padding:3px;
    z-index: 9999; /* 位于最上层 */
    border-radius: 3px;
}

/***********************************
Paper
************************************/
#paper-list {
    background: #fffffa;
}

.paper-list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:0;
    margin-bottom:20px;
}

.paper-list-item {
    position: relative;
    display: block;
    padding: 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #637e39;
}

.paper-list-item> p {
    margin-bottom: 0;
    color: #313d29;
}

.paper-list-item> a {
    color: #637e39;
    text-decoration: none;
}

.paper-list-item> a:hover, .paper-list-item> a:focus {
    color: #313d29;
}

/***********************************
Footer
************************************/
.footer {
    padding: 40px 0 40px;
    background: #313d29;
    color: #eaecdb;
}

.footer> div {
    text-align: center;
}

.footer> div> p> img {
    height: 24px;
    width: 24px;
}

.footer> div> p> a {
    color: #fffffa;
}

/***********************************
News
************************************/
.newsInfoPic{
    width:80%;
    margin-top:20px;
}
